.content{
    height: 100vh;
    width: 100%;
}
.login{
    display: none;
}
.messages{
    margin-bottom: 80px;
}
.chat{
    display: none;
    overflow-y:auto;
    height: 100%;
    position: relative;
    width: 100%;
}
.prompt{
    border:1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    padding: 10px

}
.chatForm{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    border-top:1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}
.chatSubmit{

    padding: 10px 20px;
    color: white;
    border: none;
    background-color: #007bff;
    border-radius: 4px;
}
.bulle{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px 20px;
}