.content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages{
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.chat{
    display: none;
    overflow-y:auto;
    height: 100%;
    position: relative;
    width: 100%;
}

.chatForm{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    border-top:1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}
.chatSubmit{

    padding: 10px 20px;
    color: white;
    border: none;
    background-color: #007bff;
    border-radius: 4px;
}
.prompt{
    border:1px solid #cccccc;
    border-radius: 5px;
    flex: 1;
    padding: 10px;
    width: 100%;

}
.bulle{
    border-radius: 10px;
    max-width: 60%;
    padding: 10px 20px;
    }
.user{
    background-color: #d1f1ff;
    text-align: right;
    margin-left: auto;/*permet de créer l'espace pour alligner à gauche*/
}
.felix{
    background-color: #f1f1f1;
    text-align: left;
    margin-right: auto;/*permet de créer l'espace pour alligner à droit*/
}
.containerP{
    width: 100%;
    border: 1px solid #ddd;
}

/*Form Login*/
.login{
    display: none;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f1f1f1;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group input{
    padding: 10px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.submitLogin{
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: white;
    border: none;
}



